$base-color: #FDF6E3;

body {
  background-color: $base-color;
  overflow-x: hidden;
} 
* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
